Repository jeremiah-k/matrix-biblebot: changes, and which Codecov flags are due for each by the changed paths.
All: Core Bot, Authentication, CLI Interface, Setup & Tools, Main Entry Points

test(cache): isolate passage state
  tests/conftest.py
  tests/test_cache_isolation.py
Due: none

test(cache): isolate passage state (#84)
  tests/conftest.py
  tests/test_cache_isolation.py
Due: none

refactor(messages): extract formatting helpers
  src/biblebot/bot.py
  src/biblebot/formatting.py
  tests/test_formatting.py
Due: Core Bot

refactor(messages): extract formatting helpers (#85)
  src/biblebot/bot.py
  src/biblebot/formatting.py
  tests/test_formatting.py
Due: Core Bot

refactor(rooms): extract room identifier helpers
  src/biblebot/bot.py
  src/biblebot/rooms.py
  tests/test_rooms.py
Due: Core Bot

refactor(rooms): extract room identifier helpers (#87)
  src/biblebot/bot.py
  src/biblebot/rooms.py
  tests/test_rooms.py
Due: Core Bot

refactor(messaging): extract retry policy helpers
  src/biblebot/bot.py
  src/biblebot/messaging.py
  tests/test_messaging.py
Due: Core Bot

test(messaging): cover _send_message_parts retry paths
  src/biblebot/bot.py
  tests/conftest.py
  tests/test_send_message_parts.py
Due: Core Bot

refactor(messaging): extract retry policy helpers (#86)
  src/biblebot/bot.py
  src/biblebot/messaging.py
  tests/conftest.py
  tests/test_messaging.py
  tests/test_send_message_parts.py
Due: Core Bot

fix(bot): align passage type annotations with reality
  src/biblebot/bot.py
  tests/test_passage_types.py
Due: Core Bot

fix(bot): align passage type annotations with reality (#88)
  src/biblebot/bot.py
  tests/test_passage_types.py
Due: Core Bot

fix(bot): annotate load_environment, make_api_request, and BibleBot.__init__
  src/biblebot/bot.py
  tests/test_bot_types.py
Due: Core Bot

fix(bot): annotate load_environment, make_api_request, and BibleBot.__init__ (#89)
  src/biblebot/bot.py
  tests/test_bot_types.py
Due: Core Bot

chore(python): require 3.12+, expand CI matrix to 3.12/3.13/3.14
  .github/workflows/test-and-coverage.yml
  pyproject.toml
Due: none

chore(python): require 3.12+, expand CI matrix to 3.12/3.13/3.14 (#90)
  .github/workflows/test-and-coverage.yml
  pyproject.toml
Due: none

refactor(bot): introduce BotClient Protocol for client typing
  src/biblebot/bot.py
  src/biblebot/protocols.py
  tests/test_protocols.py
Due: Core Bot

fix(protocols): address Sourcery review comments on PR #91
  src/biblebot/bot.py
  tests/test_protocols.py
Due: Core Bot

refactor(bot): introduce BotClient Protocol for client typing (#91)
  src/biblebot/bot.py
  src/biblebot/protocols.py
  tests/test_protocols.py
Due: Core Bot

feat(bot): add BibleBot.for_testing factory
  src/biblebot/bot.py
  tests/test_for_testing.py
Due: Core Bot

chore(lock): regenerate uv.lock for Python 3.12+ constraint
  uv.lock
Due: none

refactor(bot): require client at construction
  src/biblebot/bot.py
  tests/test_async_patterns.py
  tests/test_bot.py
  tests/test_bot_config.py
  tests/test_configuration_patterns.py
  tests/test_integration.py
  tests/test_trigger_policy.py
Due: Core Bot

test(for_testing): pin spec'd-mock and deep-copy contracts
  tests/test_for_testing.py
Due: none

fix(bot): deep-copy config and spec mock client in for_testing
  src/biblebot/bot.py
Due: Core Bot

fix(testing): make generated client satisfy BotClient protocol
  src/biblebot/bot.py
  tests/test_for_testing.py
Due: Core Bot

refactor(bot): require client at construction (#92)
  src/biblebot/bot.py
  tests/test_async_patterns.py
  tests/test_bot.py
  tests/test_bot_config.py
  tests/test_configuration_patterns.py
  tests/test_for_testing.py
  tests/test_integration.py
  tests/test_trigger_policy.py
  uv.lock
Due: Core Bot

fix(types): pin importlib.resources.files argument to ModuleType
  src/biblebot/tools/__init__.py
Due: Setup & Tools

fix(types): annotate run_async as Coroutine[Any, Any, T]
  src/biblebot/cli.py
Due: CLI Interface

fix(constants): prune __all__ to names actually present in module
  src/biblebot/constants/__init__.py
  src/biblebot/constants/config.py
Due: none

fix(types): clear pyright follow-up debt from PR #92 (#94)
  src/biblebot/cli.py
  src/biblebot/constants/__init__.py
  src/biblebot/constants/config.py
  src/biblebot/tools/__init__.py
Due: CLI Interface, Setup & Tools

fix(bot): inspect ErrorResponse instead of phantom MatrixRequestError
  src/biblebot/bot.py
  src/biblebot/messaging.py
  tests/conftest.py
  tests/test_messaging.py
  tests/test_send_message_parts.py
Due: Core Bot

fix(auth): import nio protocol errors by name, drop module-attr access
  src/biblebot/auth.py
  tests/conftest.py
Due: Authentication

fix(bot): honor send failures in handle_scripture_command; harden retry detection
  src/biblebot/bot.py
  src/biblebot/messaging.py
  tests/test_messaging.py
  tests/test_send_message_parts.py
Due: Core Bot

fix(bot): inspect ErrorResponse instead of phantom MatrixRequestError (#95)
  src/biblebot/bot.py
  src/biblebot/messaging.py
  tests/conftest.py
  tests/test_messaging.py
  tests/test_send_message_parts.py
Due: Core Bot

fix(auth): import nio protocol errors by name, drop module-attr access (#96)
  src/biblebot/auth.py
Due: Authentication

test(cli): cover auth cross-sign dispatch paths
  Dockerfile
  tests/test_cli_cross_sign.py
Due: none

chore(lint): project-wide trunk upgrade and autofix pass
  .github/workflows/docker-publish.yml
  .github/workflows/docker-validate.yml
  .gitignore
  .trunk/trunk.yaml
  src/biblebot/auth.py
  src/biblebot/bot.py
  src/biblebot/cli.py
  src/biblebot/protocols.py
  src/biblebot/rooms.py
  src/biblebot/tools/__init__.py
  tests/conftest.py
  tests/test_bot_types.py
  tests/test_cli.py
  tests/test_cli_contract.py
  tests/test_config_loading.py
  tests/test_configuration_patterns.py
  tests/test_cross_signing.py
  tests/test_for_testing.py
  tests/test_messaging.py
  tests/test_passage_types.py
  tests/test_protocols.py
  tests/test_send_message_parts.py
  tests/test_service.py
Due: Core Bot, Authentication, CLI Interface, Setup & Tools

chore(lint): trunk pass, manual findings, and cross-sign dispatch coverage (#97)
  .github/workflows/docker-publish.yml
  .github/workflows/docker-validate.yml
  .gitignore
  .trunk/trunk.yaml
  Dockerfile
  src/biblebot/auth.py
  src/biblebot/bot.py
  src/biblebot/cli.py
  src/biblebot/protocols.py
  src/biblebot/rooms.py
  src/biblebot/tools/__init__.py
  tests/conftest.py
  tests/test_bot_types.py
  tests/test_cli.py
  tests/test_cli_contract.py
  tests/test_cli_cross_sign.py
  tests/test_config_loading.py
  tests/test_configuration_patterns.py
  tests/test_cross_signing.py
  tests/test_for_testing.py
  tests/test_messaging.py
  tests/test_passage_types.py
  tests/test_protocols.py
  tests/test_send_message_parts.py
  tests/test_service.py
Due: Core Bot, Authentication, CLI Interface, Setup & Tools

refactor(passages): extract passage retrieval from bot.py; drop orphaned retry helpers
  src/biblebot/bot.py
  src/biblebot/constants/messages.py
  src/biblebot/messaging.py
  src/biblebot/passages.py
  tests/test_async_patterns.py
  tests/test_bot.py
  tests/test_bot_config.py
  tests/test_integration.py
  tests/test_integration_patterns.py
  tests/test_matrix_utils.py
  tests/test_messaging.py
  tests/test_performance.py
  tests/test_regex_cache.py
  tests/test_send_message_parts.py
Due: Core Bot

fix(bot): route send failures correctly; test(cli) cover cross-sign; fix slow retry tests
  src/biblebot/bot.py
  src/biblebot/messaging.py
  tests/test_messaging.py
  tests/test_send_message_parts.py
Due: Core Bot

test(bot): avoid patching global asyncio sleep in retry tests
  tests/test_send_message_parts.py
Due: none

Path conditions:
  Core Bot: any of: src/biblebot/bot.py
  Authentication: any of: src/biblebot/auth.py
  CLI Interface: any of: src/biblebot/cli.py
  Setup & Tools: any of: src/biblebot/setup_utils.py, src/biblebot/tools/**
  Main Entry Points: any of: src/biblebot/__main__.py, src/biblebot/__init__.py, main.py
