Repository jeremiah-k/matrix-biblebot: changes, and which Codecov flags are due for each by the changed paths.
All: Core Bot, Authentication, CLI Interface, Setup & Tools, Main Entry Points

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 40%
        threshold: 2%
    patch:
      default:
        target: 40%
        threshold: 2%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
      - type: patch
        target: 40%
        threshold: 2%
  individual_components:
    - component_id: core_bot
      name: Core Bot
      paths:
        - src/biblebot/bot.py
      statuses:
        - type: project
          target: 60%
          threshold: 3%
        - type: patch
          target: 60%
          threshold: 3%
    - component_id: authentication
      name: Authentication
      paths:
        - src/biblebot/auth.py
      statuses:
        - type: project
          target: 70%
          threshold: 2%
        - type: patch
          target: 70%
          threshold: 2%
    - component_id: cli_interface
      name: CLI Interface
      paths:
        - src/biblebot/cli.py
      statuses:
        - type: project
          target: 60%
          threshold: 3%
        - type: patch
          target: 60%
          threshold: 3%
    - component_id: setup_tools
      name: Setup & Tools
      paths:
        - src/biblebot/setup_utils.py
        - src/biblebot/tools/**
      statuses:
        - type: project
          target: 30%
          threshold: 3%
        - type: patch
          target: 30%
          threshold: 3%
    - component_id: main_entry
      name: Main Entry Points
      paths:
        - src/biblebot/__main__.py
        - src/biblebot/__init__.py
        - main.py
      statuses:
        - type: project
          target: 50%
          threshold: 3%
        - type: patch
          target: 50%
          threshold: 3%

comment:
  layout: header, diff, flags, components
  behavior: default
  require_changes: false

test(asyncio): let pytest-asyncio own event-loop cleanup
  tests/conftest.py
Due: none

test(bot): raise fresh transport exceptions in send failure test
  tests/test_send_message_parts.py
Due: none

test(integration): close bot resources after start coverage
  tests/test_integration.py
Due: none

test: align cleanup docs and remove stale nio scaffolding
  docs/dev/TESTING.md
  tests/conftest.py
  tests/test_auth.py
  tests/test_bot.py
  tests/test_integration.py
  tests/test_regex_cache.py
  tests/test_send_message_parts.py
Due: none

refactor(messaging): centralize failed-send handling
  src/biblebot/bot.py
  src/biblebot/messaging.py
  tests/test_messaging.py
Due: Core Bot

refactor(passages): keep cache internals in defining module
  src/biblebot/bot.py
  src/biblebot/passages.py
  tests/conftest.py
  tests/test_bot.py
  tests/test_bot_config.py
  tests/test_cache_isolation.py
  tests/test_integration.py
  tests/test_performance.py
  tests/test_regex_cache.py
Due: Core Bot

docs(testing): document nio_mock class assignments for isinstance-safe imports
  docs/dev/TESTING.md
Due: none

style(test): fix import formatting and drop unused nio import
  tests/test_auth.py
  tests/test_integration.py
Due: none

refactor(passages): extract passage retrieval from bot.py; drop orphaned retry helpers (#98)
  docs/dev/TESTING.md
  src/biblebot/bot.py
  src/biblebot/constants/messages.py
  src/biblebot/messaging.py
  src/biblebot/passages.py
  tests/conftest.py
  tests/test_async_patterns.py
  tests/test_auth.py
  tests/test_bot.py
  tests/test_bot_config.py
  tests/test_cache_isolation.py
  tests/test_integration.py
  tests/test_integration_patterns.py
  tests/test_matrix_utils.py
  tests/test_messaging.py
  tests/test_performance.py
  tests/test_regex_cache.py
  tests/test_send_message_parts.py
Due: Core Bot

docs(e2ee): clarify trust and store ownership
  README.md
  docs/CONFIGURATION.md
  docs/TROUBLESHOOTING.md
  sample_config.yaml
  src/biblebot/tools/sample_config.yaml
Due: Setup & Tools

fix(docker): drop non-readiness healthcheck
  .github/workflows/docker-validate.yml
  Dockerfile
Due: none

docs(e2ee): clarify trust/store ownership; fix(docker): drop non-readiness healthcheck (#99)
  .github/workflows/docker-validate.yml
  Dockerfile
  README.md
  docs/CONFIGURATION.md
  docs/TROUBLESHOOTING.md
  sample_config.yaml
  src/biblebot/tools/sample_config.yaml
Due: Setup & Tools

refactor(paths): move runtime state to XDG state home with auto-migration
  .trunk/trunk.yaml
  docs/CONFIGURATION.md
  docs/TROUBLESHOOTING.md
  src/biblebot/log_utils.py
  src/biblebot/paths.py
  tests/test_log_utils.py
  tests/test_paths.py
Due: none

fix(paths): harden state migration; scope checkov suppression to CKV_DOCKER_2
  .trunk/configs/.checkov.yaml
  src/biblebot/paths.py
  tests/test_log_utils.py
  tests/test_paths.py
Due: none

docs: refresh development guide for current architecture; bump version to 0.3.0
  README.md
  docs/DEVELOPMENT.md
  src/biblebot/__init__.py
Due: Main Entry Points

docs: address CodeRabbit on #100 - cross-signing backup path
  README.md
Due: none

Move E2EE Storage and Logs to XDG State Paths (#100)
  .trunk/configs/.checkov.yaml
  .trunk/trunk.yaml
  docs/CONFIGURATION.md
  docs/TROUBLESHOOTING.md
  src/biblebot/log_utils.py
  src/biblebot/paths.py
  tests/test_log_utils.py
  tests/test_paths.py
Due: none

fix(paths): serialize concurrent migration; never delete peer's target
  .trunk/trunk.yaml
  src/biblebot/paths.py
  tests/test_paths.py
Due: none

fix(paths): stage migration through a private directory; bound rollback
  src/biblebot/paths.py
  tests/test_paths.py
Due: none

fix(paths): stage migration through a private directory; bound rollback (#102)
  .trunk/trunk.yaml
  src/biblebot/paths.py
  tests/test_paths.py
Due: none

docs: rewrite development guide for the current tree; bump version to 0.3.0 (#101)
  README.md
  docs/DEVELOPMENT.md
  src/biblebot/__init__.py
Due: Main Entry Points

fix(paths): preserve moved state when migration publication fails
  docs/CONFIGURATION.md
  src/biblebot/paths.py
  tests/test_paths.py
Due: none

fix(auth): require persisted credentials before reporting login success
  docs/TROUBLESHOOTING.md
  src/biblebot/auth.py
  tests/test_auth.py
  tests/test_matrix_utils.py
Due: Authentication

test(isolation): restore environment and copy shared bot fixtures
  tests/conftest.py
  tests/test_bot.py
Due: none

fix(config): validate shared settings before CLI checks and startup
  docs/CONFIGURATION.md
  src/biblebot/bot.py
  src/biblebot/cli.py
  src/biblebot/config.py
  src/biblebot/constants/messages.py
  tests/test_bot.py
  tests/test_bot_config.py
  tests/test_config_loading.py
Due: Core Bot, CLI Interface

fix(rooms): share resolved room IDs across joining and message admission
  docs/CONFIGURATION.md
  src/biblebot/bot.py
  tests/test_rooms.py
Due: Core Bot

fix(passages): enforce text and reference contracts before caching
  src/biblebot/passages.py
  tests/test_bot_config.py
  tests/test_passage_types.py
Due: none

fix(messaging): classify timeouts and validate retry delay hints
  src/biblebot/bot.py
  src/biblebot/messaging.py
  tests/test_messaging.py
  tests/test_send_message_parts.py
Due: Core Bot

fix(formatting): retain poetry line breaks when splitting passages
  docs/CONFIGURATION.md
  src/biblebot/bot.py
  src/biblebot/formatting.py
  tests/test_formatting.py
Due: Core Bot

fix(lifecycle): close clients when startup fails or is cancelled
  src/biblebot/bot.py
  tests/test_lifecycle.py
Due: Core Bot

fix(release): validate package tags and reserve latest for stable images
  .github/workflows/docker-publish.yml
  .github/workflows/pypi-publish.yml
  scripts/check_release_version.py
Due: none

build(dev): use locked uv environments and smoke test pipx distributions
  .github/workflows/test-and-coverage.yml
  .gitignore
  .python-version
  Dockerfile
  docs/DEVELOPMENT.md
  docs/dev/TESTING.md
  pyproject.toml
  setup.cfg
  uv.lock
Due: none

docs(readme): clarify installation, Docker, and development workflows
  README.md
Due: none

fix(docker): use locked runtime dependencies and working Compose commands
  .github/workflows/docker-validate.yml
  Dockerfile
  Makefile
  docs/DOCKER.md
  renovate.json
  sample-docker-compose.yaml
Due: none

refactor(resources): share copying and keep one configuration template
  docs/CONFIGURATION.md
  sample_config.yaml
  src/biblebot/tools/__init__.py
  src/biblebot/tools/sample_config.yaml
Due: Setup & Tools

fix(updates): treat malformed release payloads as unavailable
  src/biblebot/update_check.py
  tests/test_update_check.py
Due: none

fix(logging): apply config levels and preserve explicit CLI overrides
  docs/CONFIGURATION.md
  src/biblebot/bot.py
  src/biblebot/cli.py
  src/biblebot/log_utils.py
  tests/test_cli_logging.py
  tests/test_log_utils.py
Due: Core Bot, CLI Interface

docs(troubleshooting): align recovery guidance with CLI contracts
  docs/TROUBLESHOOTING.md
Due: none

fix(service): render and compare the resolved runtime plan
  docs/CONFIGURATION.md
  src/biblebot/cli.py
  src/biblebot/service.py
  src/biblebot/setup_utils.py
  tests/test_cli_service.py
  tests/test_service.py
  tests/test_setup_utils.py
Due: CLI Interface, Setup & Tools

test(startup): isolate lifecycle tests from external release requests
  docs/dev/TESTING.md
  tests/conftest.py
  tests/test_startup_isolation.py
Due: none
