Repository jeremiah-k/matrix-biblebot: changes, and which Codecov flags are due for each by the changed paths.
All: Core Bot, Authentication, CLI Interface, Setup & Tools, Main Entry Points

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 40%
        threshold: 2%
    patch:
      default:
        target: 40%
        threshold: 2%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
      - type: patch
        target: 40%
        threshold: 2%
  individual_components:
    - component_id: core_bot
      name: Core Bot
      paths:
        - src/biblebot/bot.py
      statuses:
        - type: project
          target: 60%
          threshold: 3%
        - type: patch
          target: 60%
          threshold: 3%
    - component_id: authentication
      name: Authentication
      paths:
        - src/biblebot/auth.py
      statuses:
        - type: project
          target: 70%
          threshold: 2%
        - type: patch
          target: 70%
          threshold: 2%
    - component_id: cli_interface
      name: CLI Interface
      paths:
        - src/biblebot/cli.py
      statuses:
        - type: project
          target: 60%
          threshold: 3%
        - type: patch
          target: 60%
          threshold: 3%
    - component_id: setup_tools
      name: Setup & Tools
      paths:
        - src/biblebot/setup_utils.py
        - src/biblebot/tools/**
      statuses:
        - type: project
          target: 30%
          threshold: 3%
        - type: patch
          target: 30%
          threshold: 3%
    - component_id: main_entry
      name: Main Entry Points
      paths:
        - src/biblebot/__main__.py
        - src/biblebot/__init__.py
        - main.py
      statuses:
        - type: project
          target: 50%
          threshold: 3%
        - type: patch
          target: 50%
          threshold: 3%

comment:
  layout: header, diff, flags, components
  behavior: default
  require_changes: false

docs(readme): rename trigger mode section to reference detection
  README.md
Due: none

refactor(triggers): simplify reference matching and improve logging
  src/biblebot/bot.py
  src/biblebot/triggers.py
  tests/test_edge_cases.py
  tests/test_trigger_policy.py
Due: Core Bot

build(deps): update trunk plugins and linters
  .trunk/trunk.yaml
Due: none

Add trigger mode system for scripture reference detection (#40)
  .gitignore
  .trunk/trunk
  .trunk/trunk.yaml
  README.md
  docs/CONFIGURATION.md
  sample_config.yaml
  src/biblebot/bot.py
  src/biblebot/constants/bible.py
  src/biblebot/constants/config.py
  src/biblebot/tools/sample_config.yaml
  src/biblebot/triggers.py
  src/biblebot/validation.py
  tests/test_bot.py
  tests/test_bot_config.py
  tests/test_cli.py
  tests/test_config_env.py
  tests/test_edge_cases.py
  tests/test_integration.py
  tests/test_integration_patterns.py
  tests/test_matrix_utils.py
  tests/test_performance.py
  tests/test_regex_cache.py
  tests/test_trigger_policy.py
Due: Core Bot, Setup & Tools

feat(docker): add docker support and automated publishing
  .dockerignore
  .github/workflows/docker-publish.yml
  .github/workflows/docker-validate.yml
  .gitignore
  Dockerfile
  Makefile
  README.md
  sample-docker-compose.yaml
Due: none

refactor(config): implement BIBLEBOT_HOME for flexible runtime paths
  .github/workflows/docker-publish.yml
  .github/workflows/docker-validate.yml
  .gitignore
  Makefile
  README.md
  docs/CONFIGURATION.md
  docs/TROUBLESHOOTING.md
  sample-docker-compose.source.yaml
  sample-docker-compose.yaml
  src/biblebot/auth.py
  src/biblebot/cli.py
  src/biblebot/constants/config.py
  src/biblebot/paths.py
  src/biblebot/setup_utils.py
  src/biblebot/tools/sample_config.yaml
Due: Authentication, CLI Interface, Setup & Tools

test(paths): add unit tests for runtime path resolution
  tests/test_paths.py
Due: none

ci(docker): enhance build validation and local build flexibility
  .github/workflows/docker-validate.yml
  Makefile
  README.md
  src/biblebot/paths.py
Due: none

docs: clarify windows e2ee limitations and improve docker validation
  .github/workflows/docker-validate.yml
  README.md
  docs/CONFIGURATION.md
  docs/DEVELOPMENT.md
  docs/TROUBLESHOOTING.md
  src/biblebot/setup_utils.py
Due: Setup & Tools

ci(docker): harden image tagging and improve deployment ux
  .dockerignore
  .github/workflows/docker-publish.yml
  Makefile
  README.md
  sample-docker-compose.yaml
Due: none

docs(docker): improve deployment instructions and fix path resolution
  .github/workflows/docker-validate.yml
  README.md
  docs/CONFIGURATION.md
  docs/DEVELOPMENT.md
  sample-docker-compose.yaml
  src/biblebot/paths.py
  tests/test_paths.py
Due: none

build(docker): remove redundant directory creation in Dockerfile
  Dockerfile
Due: none

chore(ci): integrate hadolint and update linter versions
  .trunk/configs/.hadolint.yaml
  .trunk/trunk.yaml
Due: none

feat(docker): add healthcheck and suppress linting warnings
  Dockerfile
Due: none

fix(auth): ensure credentials parent directory exists
  .github/workflows/docker-validate.yml
  Dockerfile
  src/biblebot/auth.py
  src/biblebot/setup_utils.py
Due: Authentication, Setup & Tools

refactor(setup): improve systemd service path resolution
  src/biblebot/setup_utils.py
Due: Setup & Tools

fix(setup): remove XDG_CONFIG_HOME check from service path resolution
  src/biblebot/setup_utils.py
Due: Setup & Tools

chore: improve docker configuration and systemd service generation
  Dockerfile
  README.md
  docs/DEVELOPMENT.md
  sample-docker-compose.yaml
  src/biblebot/setup_utils.py
  tests/test_paths.py
  tests/test_setup_utils.py
Due: Setup & Tools

build(docker): enhance container setup and systemd integration
  Dockerfile
  Makefile
  README.md
  docs/CONFIGURATION.md
  docs/TROUBLESHOOTING.md
  sample-docker-compose.yaml
  src/biblebot/constants/config.py
  src/biblebot/setup_utils.py
  tests/test_setup_utils.py
Due: Setup & Tools

chore(setup): refine deployment tooling and configuration docs
  Makefile
  README.md
  docs/CONFIGURATION.md
  src/biblebot/constants/config.py
  src/biblebot/setup_utils.py
  tests/test_setup_utils.py
Due: Setup & Tools

test(reliability): replace timing recovery check
  tests/test_reliability_patterns.py
Due: none

feat(paths): support portable runtime home
  src/biblebot/auth.py
  src/biblebot/cli.py
  src/biblebot/constants/__init__.py
  src/biblebot/constants/config.py
  src/biblebot/paths.py
  src/biblebot/setup_utils.py
  tests/test_paths.py
Due: Authentication, CLI Interface, Setup & Tools

test(reliability): replace timing recovery check (#75)
  tests/test_reliability_patterns.py
Due: none

feat(paths): support portable runtime home (#76)
  src/biblebot/auth.py
  src/biblebot/cli.py
  src/biblebot/constants/__init__.py
  src/biblebot/constants/config.py
  src/biblebot/paths.py
  src/biblebot/setup_utils.py
  tests/test_paths.py
Due: Authentication, CLI Interface, Setup & Tools

feat(e2ee): add safe bot cross-signing
  README.md
  docs/CONFIGURATION.md
  docs/TROUBLESHOOTING.md
  docs/dev/TESTING.md
  pyproject.toml
  sample_config.yaml
  src/biblebot/auth.py
  src/biblebot/bot.py
  src/biblebot/cli.py
  src/biblebot/constants/messages.py
  src/biblebot/tools/sample_config.yaml
  tests/conftest.py
  tests/test_auth.py
  tests/test_cross_signing.py
  tests/test_e2ee_integration.py
  uv.lock
Due: Core Bot, Authentication, CLI Interface, Setup & Tools

feat(e2ee): add safe bot cross-signing (#77)
  README.md
  docs/CONFIGURATION.md
  docs/TROUBLESHOOTING.md
  docs/dev/TESTING.md
  pyproject.toml
  sample_config.yaml
  src/biblebot/auth.py
  src/biblebot/bot.py
  src/biblebot/cli.py
  src/biblebot/constants/messages.py
  src/biblebot/tools/sample_config.yaml
  tests/conftest.py
  tests/test_auth.py
  tests/test_cross_signing.py
  tests/test_e2ee_integration.py
  uv.lock
Due: Core Bot, Authentication, CLI Interface, Setup & Tools

feat(docker): add verified container delivery
  .dockerignore
  .github/workflows/docker-publish.yml
  .github/workflows/docker-validate.yml
  .gitignore
  .trunk/configs/.hadolint.yaml
  Dockerfile
  Makefile
  README.md
  docs/DOCKER.md
  sample-docker-compose.source.yaml
  sample-docker-compose.yaml
Due: none

feat(docker): add verified container delivery (#41)
  .dockerignore
  .github/workflows/docker-publish.yml
  .github/workflows/docker-validate.yml
  .gitignore
  .trunk/configs/.hadolint.yaml
  Dockerfile
  Makefile
  README.md
  docs/DOCKER.md
  sample-docker-compose.source.yaml
  sample-docker-compose.yaml
Due: none

fix(cli): require grouped command actions
  src/biblebot/cli.py
  tests/test_cli.py
Due: CLI Interface

fix(cli): require grouped command actions (#78)
  src/biblebot/cli.py
  tests/test_cli.py
Due: CLI Interface

fix(cli): send authentication errors to stderr
  src/biblebot/cli.py
  tests/test_cli.py
  tests/test_cli_contract.py
Due: CLI Interface

fix(cli): send authentication errors to stderr (#79)
  src/biblebot/cli.py
  tests/test_cli.py
  tests/test_cli_contract.py
Due: CLI Interface

refactor(config): add structured loading results
  src/biblebot/bot.py
  src/biblebot/config.py
  tests/test_config_loading.py
Due: Core Bot

refactor(config): add structured loading results (#80)
  src/biblebot/bot.py
  src/biblebot/config.py
  tests/test_config_loading.py
Due: Core Bot

refactor(service): separate unit rendering
  src/biblebot/service.py
  src/biblebot/setup_utils.py
  tests/test_service.py
Due: Setup & Tools

refactor(service): separate unit rendering (#81)
  src/biblebot/service.py
  src/biblebot/setup_utils.py
  tests/test_service.py
Due: Setup & Tools

fix(config): stabilize check diagnostics
  src/biblebot/cli.py
  tests/test_cli.py
  tests/test_cli_contract.py
Due: CLI Interface

fix(config): stabilize check diagnostics (#82)
  src/biblebot/cli.py
  tests/test_cli.py
  tests/test_cli_contract.py
Due: CLI Interface

refactor(cli): isolate authentication dispatch
  src/biblebot/cli.py
  tests/test_cli.py
Due: CLI Interface

refactor(cli): isolate authentication dispatch (#83)
  src/biblebot/cli.py
  tests/test_cli.py
Due: CLI Interface
