Repository jeremiah-k/matrix-biblebot: changes, and which Codecov flags are due for each by the changed paths.
All: Core Bot, Authentication, CLI Interface, Setup & Tools, Main Entry Points

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 40%
        threshold: 2%
    patch:
      default:
        target: 40%
        threshold: 2%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
      - type: patch
        target: 40%
        threshold: 2%
  individual_components:
    - component_id: core_bot
      name: Core Bot
      paths:
        - src/biblebot/bot.py
      statuses:
        - type: project
          target: 60%
          threshold: 3%
        - type: patch
          target: 60%
          threshold: 3%
    - component_id: authentication
      name: Authentication
      paths:
        - src/biblebot/auth.py
      statuses:
        - type: project
          target: 70%
          threshold: 2%
        - type: patch
          target: 70%
          threshold: 2%
    - component_id: cli_interface
      name: CLI Interface
      paths:
        - src/biblebot/cli.py
      statuses:
        - type: project
          target: 60%
          threshold: 3%
        - type: patch
          target: 60%
          threshold: 3%
    - component_id: setup_tools
      name: Setup & Tools
      paths:
        - src/biblebot/setup_utils.py
        - src/biblebot/tools/**
      statuses:
        - type: project
          target: 30%
          threshold: 3%
        - type: patch
          target: 30%
          threshold: 3%
    - component_id: main_entry
      name: Main Entry Points
      paths:
        - src/biblebot/__main__.py
        - src/biblebot/__init__.py
        - main.py
      statuses:
        - type: project
          target: 50%
          threshold: 3%
        - type: patch
          target: 50%
          threshold: 3%

comment:
  layout: header, diff, flags, components
  behavior: default
  require_changes: false

Restructure documentation for better user experience
  README.md
  docs/CONFIGURATION.md
  docs/DEVELOPMENT.md
  docs/TROUBLESHOOTING.md
Due: none

Address code review feedback for documentation clarity
  README.md
  docs/DEVELOPMENT.md
Due: none

Apply targeted nitpick fixes without overcomplicating
  README.md
  docs/CONFIGURATION.md
  docs/DEVELOPMENT.md
  docs/TROUBLESHOOTING.md
Due: none

Consolidate E2EE documentation and fix formatting issues
  README.md
  docs/CONFIGURATION.md
  docs/E2EE.md
Due: none

Fix documentation link clarity and reduce redundancy
  README.md
  docs/TROUBLESHOOTING.md
Due: none

Restructure documentation for better user experience (#23)
  README.md
  docs/CONFIGURATION.md
  docs/DEVELOPMENT.md
  docs/E2EE.md
  docs/TROUBLESHOOTING.md
Due: none

Update plugin.py
  plugin.py
Due: none

feat(integrations): add Meshtastic Matrix Relay plugin
  README.md
  plugin.py
  requirements.txt
  setup.py
  src/biblebot/integrations/__init__.py
  src/biblebot/integrations/mmrelay.py
Due: none

feat(integrations): add dynamic plugin import with local fallback
  plugin.py
  requirements.txt
Due: none

feat(integrations): add biblebot module clearing for clean imports
  plugin.py
Due: none

refactor(build): refactor setup.py to use main guard
  setup.py
Due: none

chore(deps): replace dependabot with renovate
  .github/dependabot.yml
  renovate.json
Due: none

chore(deps): replace dependabot with renovate (#34)
  .github/dependabot.yml
  renovate.json
Due: none

refactor: migrate from setup.py to modern pyproject.toml [project] section
  .github/workflows/test-and-coverage.yml
  pyproject.toml
  requirements-e2e.txt
  requirements.txt
  setup.py
Due: none

ci(github): expand workflow triggers to include review branches
  .github/workflows/test-and-coverage.yml
Due: none

ci(github): expand workflow triggers to include review branches
  .github/workflows/test-and-coverage.yml
  pyproject.toml
Due: none

fix: add *.env to package-data, clean MANIFEST.in after requirements.txt removal
  MANIFEST.in
  pyproject.toml
Due: none

style: match coderabbit config to mmrelay
  .coderabbit.yml
Due: none

build(config): update python version and package data
  pyproject.toml
Due: none

Consolidate packaging configuration to pyproject.toml (#38)
  .coderabbit.yml
  .github/workflows/test-and-coverage.yml
  MANIFEST.in
  pyproject.toml
  requirements-e2e.txt
  requirements.txt
  setup.py
Due: none

chore(deps): pin dependencies to exact versions
  pyproject.toml
Due: none

feat(bot): implement structured trigger policy for reference detection
  README.md
  docs/CONFIGURATION.md
  docs/superpowers/plans/2026-04-17-trigger-policy.md
  sample_config.yaml
  src/biblebot/bot.py
  src/biblebot/constants/bible.py
  src/biblebot/constants/config.py
  src/biblebot/triggers.py
  tests/test_edge_cases.py
  tests/test_trigger_policy.py
Due: Core Bot

fix(bot): refine trigger logic and expand anywhere mode capabilities
  README.md
  docs/CONFIGURATION.md
  sample_config.yaml
  src/biblebot/bot.py
  src/biblebot/triggers.py
  tests/test_trigger_policy.py
Due: Core Bot

refactor(bot): extract book name validation to separate module
  src/biblebot/bot.py
  src/biblebot/triggers.py
  src/biblebot/validation.py
  tests/test_bot.py
  tests/test_matrix_utils.py
Due: Core Bot

chore(tests): improve mock object fidelity and linting
  tests/test_edge_cases.py
  tests/test_integration_patterns.py
Due: none

fix(triggers): refine mention extraction and trigger detection logic
  docs/CONFIGURATION.md
  docs/superpowers/plans/2026-04-17-trigger-policy.md
  src/biblebot/triggers.py
  tests/test_edge_cases.py
  tests/test_integration_patterns.py
  tests/test_trigger_policy.py
Due: none

refactor(triggers): improve mention parsing and unify reference patterns
  src/biblebot/bot.py
  src/biblebot/constants/bible.py
  src/biblebot/triggers.py
  tests/test_integration_patterns.py
  tests/test_trigger_policy.py
Due: Core Bot

chore(config): update trunk linter versions and add renovate
  .trunk/trunk
  .trunk/trunk.yaml
Due: none

style: cleanup formatting and remove unused imports
  docs/superpowers/plans/2026-04-17-trigger-policy.md
  src/biblebot/bot.py
  tests/test_bot.py
  tests/test_cli.py
  tests/test_config_env.py
  tests/test_integration.py
  tests/test_trigger_policy.py
Due: Core Bot

test(validation): update imports to use direct function references
  tests/test_matrix_utils.py
  tests/test_performance.py
  tests/test_regex_cache.py
Due: none

refactor(bot): simplify trigger mode validation
  src/biblebot/bot.py
  src/biblebot/constants/bible.py
Due: Core Bot

refactor(triggers): extract direct prefix and mention detection logic
  src/biblebot/constants/bible.py
  src/biblebot/triggers.py
Due: none

fix(triggers): improve mention detection and unescape HTML
  src/biblebot/tools/sample_config.yaml
  src/biblebot/triggers.py
Due: Setup & Tools

refactor(triggers): enforce direct-only trigger mode and remove legacy detection
  README.md
  docs/CONFIGURATION.md
  sample_config.yaml
  src/biblebot/bot.py
  src/biblebot/constants/bible.py
  src/biblebot/triggers.py
  tests/test_bot.py
  tests/test_bot_config.py
  tests/test_edge_cases.py
  tests/test_integration_patterns.py
  tests/test_trigger_policy.py
Due: Core Bot

chore(config): remove deprecated trigger configuration and cleanup
  README.md
  docs/CONFIGURATION.md
  sample_config.yaml
  src/biblebot/bot.py
  src/biblebot/constants/bible.py
  src/biblebot/constants/config.py
  src/biblebot/tools/sample_config.yaml
  src/biblebot/triggers.py
  tests/test_bot.py
  tests/test_bot_config.py
  tests/test_integration_patterns.py
  tests/test_trigger_policy.py
Due: Core Bot, Setup & Tools

docs(triggers): update documentation and refine trigger tests
  docs/superpowers/plans/2026-04-17-direct-only-trigger-cleanup.md
  docs/superpowers/plans/2026-04-17-trigger-policy.md
  tests/test_edge_cases.py
  tests/test_integration_patterns.py
  tests/test_trigger_policy.py
Due: none

chore: ignore .codex directory
  .gitignore
Due: none

docs(triggers): refine documentation and update test descriptions
  src/biblebot/bot.py
  src/biblebot/triggers.py
  tests/test_bot.py
  tests/test_integration_patterns.py
Due: Core Bot

chore(docs): remove obsolete trigger cleanup plan
  docs/superpowers/plans/2026-04-17-direct-only-trigger-cleanup.md
Due: none
